

/* css */

*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 1200px;
}

header{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: cornflowerblue;
}


.title{
  background-image: url("../img/pattern.png");
  background-size: 400px;
  padding-right: 25px;
  padding-top: 25px;
  padding-left: 5px;
  padding-bottom: 5px;
}

#the, #booleaner{
  text-shadow: 2px 2px 2px black;
}

#the{
  position: relative;
  top: 8px;
  font-size: 13px;
  margin-left: 15px;
}

#booleaner{
  font-size: 35px;
}

main h1{
  margin-top: 15px;
  font-size: 40px;
}

.article p{
  font-size: 14px;
  color: grey;
}

#firma{
  color: rgb(25, 105, 155);
}

#time{
  position: relative;
  bottom: 5px;
  color: grey;
  font-size: 10px;
}

#pic1{
  background-image: url(../img/tim-1.jpg);
}

#pic2{
  background-image: url(../img/tim-2.jpg);
}

#pic1, #pic2{
  display: inline-block;
  width: 500px;
  height: 350px;;
  background-size: cover;
  background-position: center;
}

.credits{
  font-size: 12px;
}

section{
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
}