

/* css */

*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 1200px;
}

header{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: cornflowerblue;
}


.title{
  background-image: url("../img/pattern.png");
  background-size: 400px;
  padding-right: 25px;
  padding-top: 25px;
  padding-left: 5px;
  padding-bottom: 5px;
}

#the, #booleaner{
  text-shadow: 2px 2px 2px black;
}

#the{
  position: relative;
  top: 8px;
  font-size: 13px;
  margin-left: 15px;
}

#booleaner{
  font-size: 35px;
}

main h1{
  margin-top: 15px;
  font-size: 40px;
}

.article p{
  font-size: 14px;
  color: grey;
}

#firma{
  color: rgb(25, 105, 155);
}

#time{
  position: relative;
  bottom: 5px;
  color: grey;
  font-size: 10px;
}

#pic1{
  background-image: url(../img/tim-1.jpg);
}

#pic2{
  background-image: url(../img/tim-2.jpg);
}

#pic1, #pic2{
  display: inline-block;
  width: 500px;
  height: 350px;;
  background-size: cover;
  background-position: center;
}

.credits{
  font-size: 12px;
}


section{
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.highlighted{
  background-color: yellow;
}

table{
  text-align: left;
  margin-bottom: 20px;
}

thead{
  color: white;
  background-color: #2f6aeb;
}

td{
  padding: 15px 0;
}

.firstcolor{
  background-color: rgb(70, 196, 196);
}

#couldbe{
  margin-top: 20px;
  margin-bottom: 20px;
  color: darkgray;
  font-size: 18px;
  font-weight: bold;
}

.img{
  color: white;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  margin: 0;
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.pc, .graph{
  margin-bottom: 10px;
}

.pc{
  background-image: url(../img/monitor.jpg);

}

.graph{
  background-image: url(../img/graph.jpg);
}